{% comment %} {% extends 'base.html' %}  {% endcomment %}
{% load static %}
{% include 'base.html' %}

{% comment %} {% block homeactive %} active {% endblock homeactive %}
{% else %} {% endcomment %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Local Bus Reservation System of Dhaka</title>

    <link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{% static "css/personalModal.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
  </head>
 
    {% block body %}
    <div class="container-fluid bg-white my-5 p-2px" id="add-prod-css">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
          <h6>Welcome to the Bus Reservation System</h6>
          <form method="get" action="{% url 'search' %}">
            {% if routes %}
            <div class="form-group">
              <select class="form-select" name="route" aria-label="Default select example">
                <option selected>Select Your Route</option>
                {% for route in routes %}
                <option value="{{route}}"> {{route.departure_location}}-{{route.arrival_location}}</option>
                {% endfor %}
              </select>            
            </div>
            {% else %}
            <div class="form-group">
              <select class="form-select" aria-label="Default select example">
                <option selected>No Routes Available</option>
              </select>            
            </div>
            {% endif %}

            <div class="form-group">
              <label for="departure_location">Departure Location</label>
              <input type="text" class="form-control" name="departure_location" id="departure_location" required>
            </div>
            <div class="form-group">
              <label for="arrival_location">Arrival Location</label>
              <input type="text" class="form-control" name="arrival_location" id="arrival_location" required>
            </div>
            <div class="form-group">
              <label for="travel_date">Travel Date</label>
              <input type="date" class="form-control" name="travel_date" id="travel_date" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          {% if schedules %}
          <h2>Available Schedules</h2>
          <ul>
            {% for schedule in schedules %}
              <li>{{ schedule.bus.name }} - {{ schedule.route.departure_location }} to {{ schedule.route.arrival_location }} - {{ schedule.departure_time }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No schedules found.</p>
          {% endif %}
        </div>
      </div>
      </div>
   
    <footer>© Local Bus Reservation System of Dhaka</footer>
    {% endblock body %}
  

  
    <script type="text/javascript" src="{% static "js/script.js" %}"></script> 
</html>

