{% extends 'base.html' %} {% load static %}
 {% block title %} All Bookings {% endblock title %} 
 {% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">All Bookings</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">sno</th>
            <th>Booking ID</th>
            <th>User</th>
            <th>Bus Number</th>
            <th>Date</th>
            <th>Seat Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in allBookings %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ booking.id }}</td>
            <td>{{ booking.user }}</td>
            <td>{{ booking.schedule.bus }}</td>
            <td>{{ booking.travel_date }}</td>
            <td>
                {% for seat in booking.seats.all %}
                {{ seat.seat_number }}-{{ seat.category}}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ booking.status }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6">No bookings found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock body %}
